{% load static %}

<!-- add match modal -->
<div class="modal fade" id="add_match_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width: 800px;">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color: #71c285; color: white;">
            <h4 class="modal-title w-100 font-weight-bold" id="header_id">Add match</h4>
            </div>
            <form action="/add_match" method="post" id="modal_form_id">
                {% csrf_token %}
                <div class="modal-body mx-3">
                <div class="mb-5 form-group">
                    <div class="dropdown">

                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-3">
                                <label>First team</label>
                                <select class="form-select" aria-label="First team" name="team1" id="team1_id" required>
                                    {% for team in teams %}
                                        <option value="{{team.id}}">{{team.nickname}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 pr-0">
                                <div class="form-group">
                                    <label></label>
                                    <input class="form-control number" type="number" min="0" id="match_goals1" name="goals1">
                                </div>
                            </div>
                            <div class="col-md-1 p-0" style="max-width: 30px;">
                                <div class="form-group">
                                    <label></label>
                                    <input class="form-control" type="text" placeholder=":" value=":" disabled>
                                </div>
                            </div>
                            <div class="col-md-2 pl-0">
                                <div class="form-group">
                                    <label></label>
                                    <input class="form-control number" type="number" min="0" id="match_goals2" name="goals2">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="text-right">Second team</label>
                                <select class="form-select" aria-label="Second team" name="team2" id="team2_id" required>
                                    {% for team in teams %}
                                        <option value="{{team.id}}">{{team.nickname}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 p-0" style="width: fit-content;"></div>
                        </div>

                        <div class="row p-5">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Match date:</label>
                                    <input class="form-control" type="date" id="match_date" name="date" required >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Match time:</label>
                                    <input class="form-control" type="time" id="match_time" name="time" required >
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-block" style="background-color: #3d195b; color: white;">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

